.background {
    background-image: url(background.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    width: 1500px;
}

.background {
    background-image: url(background.jpg);
    background-size: 100%;
}

.content {
    text-align: right ;
    margin-right: 15%;
    font-size: 500%;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content span {
    color: rgb(255, 0, 0, 0.7);
}

.container {
    border: 100px;
    border-color: aliceblue;
}

.header {
    align-content: center;  
    justify-content: center;
    margin: 50px;
    float: center;
    background-color: rgba(240, 248, 255, 0.073);
}

.Bagian {
    font-family: sans-serif;
    color: aliceblue;
    margin-right: 3%;
    font-size: 250%;
}

.header-1 {
    align-content: center;  
    justify-content: center;
    margin: 140px;
    float: center;
    background-color: rgba(240, 248, 255, 0.073);
}

.Bagian-1 {
    font-family: sans-serif;
    color: aliceblue;
    margin-left: 70%;
    font-size: 250%;
}

.header-2 {
    align-content: center;  
    justify-content: center;
    margin: 50px;
    float: center;
    background-color: rgba(240, 248, 255, 0.073);
}

.header-3 {
    align-content: center;  
    justify-content: center;
    margin: 140px;
    float: center;
    background-color: rgba(240, 248, 255, 0.073);
}

.header-4 {
    align-content: center;  
    justify-content: center;
    margin: 50px;
    float: center;
    background-color: rgba(240, 248, 255, 0.073);
}

.header-5 {
    align-content: center;  
    justify-content: center;
    margin: 140px;
    float: center;
    background-color: rgba(240, 248, 255, 0.073);
}

.Bagian-2 {
    font-family: sans-serif;
    color: aliceblue;
    margin-inline-end: 5%;
    font-size: 250%;
}

.header-6 {
    align-content: center;  
    justify-content: center;
    margin: 50px;
    float: center;
    background-color: rgba(240, 248, 255, 0.073);
}

.header-7 {
    align-content: center;  
    justify-content: center;
    margin: 140px;
    float: center;
    background-color: rgba(240, 248, 255, 0.073);
}

.header-8 {
    align-content: center;  
    justify-content: center;
    margin: 50px;
    float: center;
    background-color: rgba(240, 248, 255, 0.073);
}